{% extends "padre.html" %}

{% block bloqueQueCambia %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Formulario de creación de productos</h2>
      </div>

    </div>
</section><!-- End Breadcrumbs -->

<section id="contact" class="contact">
    <div class="container">
        <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{form.as_table}}
            </table>
            <br/>
            <div class="text-left php-email-form" role="form"><button type="submit">Crear</button></div>  
        </form>

{% endblock bloqueQueCambia %}

<!-- <p></p><input type="submit" name="enviar"></p> -->