{% extends "padre.html" %}

{% block bloqueQueCambia %}

{% if products.exists %}
  {% for product in products %}
    <div class="card text-center">
      <div class="card-header">
        FORD
      </div>
        <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <a href="/ford/conoce_mas/?id={{product.id}}" class="btn btn-primary">Conoce Más!</a>
        </div>
      <div class="card-footer text-muted">
        Consulte Disponibilidad
      </div>
    </div>    
  {% endfor %}
{% else %}
    <h4>Producto no encontrado. Por favor, comunicate con nosotros personalmente o a nuestros teléfonos</h4>
{% endif %}
{% endblock bloqueQueCambia %}