{% extends "padre.html" %}

{% block bloqueQueCambia %}
    <h1> Lo que tu FORD necesita, nosotros lo tenemos!</h1>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Service Total</li>
          <li class="list-group-item">Cambio de Aceite</li>
          <li class="list-group-item">Cambio de Filtro</li>
          <li class="list-group-item">Tren Delantero</li>
          <li class="list-group-item">Alineación y Balanceo</li>
        </ul>
      </div>

{% endblock bloqueQueCambia %}