{% extends "padre.html" %}

{% block bloqueQueCambia %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Nosotros</h2>
      </div>

    </div>
</section><!-- End Breadcrumbs -->

<div class="container">
    <div class="font-family:verdana;">
       
            <div class="font-family:verdana;">
            <div class="flex text-xl">
                <span class="text-violet-500 mr-5"></span>
                <p>Soy Gera, tengo 32 años.</p>
            </div>
            <div class="flex text-xl">
                <span class="text-violet-500 mr-5"></span>
                <p>Actualmente trabajo como analista de costos manejando el sistema "SAP" el modulo que necesita bastante programacion back-end por eso dicidi incursionar en este curso</p>
            </div>
            <div class="font-family:verdana;">
                <div class="flex text-xl">
                    <span class="text-violet-500 mr-5"></span>
                    <p>Soy Ayelen, tengo 32 años.</p>
                </div>
                <div class="flex text-xl">
                    <span class="text-violet-500 mr-5"></span>
                    <p>Luego de recibirme como Contadora Púbilca durante la pandemia, decidí darle un cambio de rumbo a mi carrera profesional. Es así como empece a indagar en el mundo IT y sus multiples ramas, decidiendome finalmente por la programación.</p>
                </div>
                <div class="flex text-xl ">
                    <span class="text-violet-500 mr-5"></span>
                    <p>Actualmente me encuentro haciendo varios cursos de programación back-end, y buscando activamente mi primer trabajo en el rubro.</p>
                </div>
                
                <div class="flex text-xl mt-5">
                    <span class="text-violet-500 mr-5"></span>
                    <p>Esta página es el resultado final de nuestro curso de Desarrollo BackEnd en Python dictado en Coderhouse, a la cual le pusimos mucho empeño dado que la cursada realmente nos gustó mucho.</p>
                </div>
                <div class="flex text-xl">
                    <span class="text-violet-500 mr-5"></span>
                    <p>La página fue diseñada con la mayor cantidad de funcionalidades posibles. Si encontrás un error en la misma o tenes una sugerencia te invito a que me lo comentes para poder trabajar en eso.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock bloqueQueCambia %}