{% extends 'padre.html' %}

{% block bloqueQueCambia %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Login</h2>
      </div>

    </div>
</section><!-- End Breadcrumbs -->
  
  
  
  <section id="contact" class="contact">
    <div class="container">
        <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="" method="POST" >
        {% csrf_token %}

            <table class="php-email-form" role="form">

                {{form.as_table}}

            </table>
            <br/>
            <div class="text-left php-email-form" role="form"><button type="submit">Login</button></div>
            <p></p>
            
        </form>

            {% if error %}
                <p style="color:red;">{{error}}</p> 
            {% endif %}

        </div>
    </div>
  </section><!-- End Contact Section -->





{% endblock bloqueQueCambia %}