<!-- {% extends "padre.html" %}

{% block bloqueQueCambia %}
<head>  
     <meta charset="UTF-8">  
     <title>Index</title>  
 </head>  
 <body>  
 <form method="POST" class="post-form" enctype="multipart/form-data">  
         {% csrf_token %}  
         {{ form.as_table }}  
         <button type="submit" class="save btn btn-default">Submit</button>  
 </form>  
 </body>  
 </html> 

{% endblock bloqueQueCambia %}  -->







<!-- {% block bloqueQueCambia %}

<form action="" method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}
    
    <table>
    
        <div class="card" style="width: 25rem;">
            {% if user.image %}
            <img src="{{user.image.url}}" class="card-img-top" style="width: 18rem;" alt="Card image cap">
            {% else %}
                 <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" style="width: 18rem;"alt="Card image cap">
            {% endif %} 
            {{form.as_table}}
            <div class="card-body">
            <p></p> 
            <a href="/users/delete_user/?={{user.user}}" class="card-link">Borrar</a>
            </div>
       </div>
    
    
    </table>
    
    <p></p><input type="submit" name="enviar"></p>    
    
</form>
    
{% endblock %}  -->












<!-- {% block titulo %}
     Perfil de Usuario    
{% endblock %}

{% block bloqueQueCambia %}

{% load static %}
<p>Estos son tus datos de usuario. Si quieres puedes editarlos y luego guardarlos haciendo click en "Enviar".</p>

<form action="" method="POST" enctype="multipart/form-data"> 
     {% csrf_token %}
<div class="card" style="width: 25rem;">
     {% if user.image %}
     <img src="{{user.image.url}}" class="card-img-top" style="width: 18rem;" alt="Card image cap">
     {% else %}
          <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" style="width: 18rem;"alt="Card image cap">
     {% endif %} 
     {{form.as_table}}
     <div class="card-body">
     <p></p> 
     <a href="/users/delete_user/?={{user.user}}" class="card-link">Borrar</a>
     </div>
</div><input type="submit" name="enviar">
</form>
{% endblock bloqueQueCambia %} -->



<!-- <p><input type="submit" name="Guardar Cambios"></p>     -->

<!-- <table>

     {{form.as_table}}
 
 
 </table> -->

 <!-- <a href="/users/changes_save{{user.user}}" class="btn btn-danger">Editar perfil</a> 
<a href="/users/delete_user{{user.user}}" class="btn btn-danger">Borrar Perfil</a>  
</form> -->