{% extends 'padre.html' %}

{% block titulo %}
    Register
{% endblock %}

{% block bloqueQueCambia %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Registro de Nuevo Usuario</h2>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section id="contact" class="contact">
    <div class="container">
        <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="" method="POST">
        {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <br/>
            <div class="text-left php-email-form" role="form"><button type="submit">Registrate</button></div>
    
        </form>

        {% if error %}
            <p style="color:red;">{{error}}</p> 
        {% endif %}

{% endblock bloqueQueCambia %}

<!-- <p><input type="submit" value="Registrate!"></p> -->